*{
    margin: 0;
    padding: 0;
}
.title{
    background-color: black;
    color: white;
}
h1,ul{
    text-align: center;
}
li{
    display: inline;
    color: gray;
}
li:hover{
    color: white;
    cursor: pointer;
}
.one{
    margin: 2px;
    margin-top: 10px;
    display: inline-block;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    width: 250px;
    text-align: center;
}
div{
    text-align: center;
}
button{
    background-color: black;
    color: white;
    padding: 5px;
    cursor: pointer;
}

.Contact{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
p{
    text-align: center;
}